.home-wrap {
    background-color: aqua;
    width: 600px;
    margin: 0 auto;
    overflow: auto;
}
.home-wrap img {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    float: right;
}
.home-wrap h1 {
    text-align: justify;
}