@font-face {
    font-family: "Century Gothic Std Regular";
    src: url("/fonts/Century Gothic Std Regular/Century\ Gothic\ Std\ Regular.otf") format("woff2");
} 
h1, h2, h3, p, a {
    font-family: "Century Gothic Std Regular";
}

/*header and footer*/
header {
    background-color: #025951;
    height: 25%;
}
footer {
    background-color: #025951;
}
.footer_list {
    display: flex;
    justify-content: center;
    }
.header-image {
    display: block;
    margin: auto auto;
    width: 50%;
    max-width: 300px;
    max-height: 300px;
}

/*body*/
body {
    background-color: #ffffff;
}
.home-wrap {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}
.home-wrap img {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}
.cta-home {
    display: flex;
    justify-content: center;
    margin: 30px auto 30px;
}
.cta {
    color: #025951;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 50px;
    border-radius: 35%;
    border-color: #025951;
    border-style: solid;
}