header {
    background-color: #025951;
    height: 25%;
}
body {
    background-color: #ffffff;
}
footer {
    background-color: #025951;
}
.footer_list {
    display: inline-block;
}
.header-image {
    display: block;
    margin: auto auto;
    width: 50%;
    max-width: 300px;
    max-height: 300px;
}
.circle-wrap {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}
.circle-wrap img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}