@font-face {
    font-family: "Century Gothic Std Regular";
    src: url("/fonts/Century Gothic Std Regular/Century\ Gothic\ Std\ Regular.otf") format("woff2");
} 
h1, h2, h3, p, a {
    font-family: "Century Gothic Std Regular";
}

/*header and footer*/
header {
    background-color: #025951;
    height: 25%;
}
footer {
    background-color: #025951;
}
.footer_list {
    display: flex;
    justify-content: center;
    }
.footer_list li {
    padding: 20px 30px 30px 20px;
    text-decoration: none;
    list-style-type: none;

}
.header-image {
    display: block;
    margin: auto auto;
    width: 50%;
    max-width: 300px;
    max-height: 300px;
}

/*body*/
body {
    background-color: #ffffff;
}
.home-wrap {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}
.home-wrap img {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}
.cta-home {
    display: flex;
    justify-content: center;
    margin: 30px auto 30px;
}
.cta {
    color: #025951;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 50px;
    border-radius: 25%;
    border-color: #025951;
    border-style: solid;
    white-space: nowrap;
}
/*About*/
.about {
    display: flex;

}
.about img {
    max-width: 600px;
    max-height: 600px;
    padding: 100px;
    border-radius: 15%;
}
.about-textblock {
    background-color: #F2F2F2;
    border-style: solid;
    border-color: #707070;
    margin: 100px 50px 100px;
    max-width: 600px;
    border-radius: 10%;
    
}
.about h2 {
    text-align: center;
    padding: 20px 20px; 
}
.about p {
    padding: 20px 20px 20px 20px;

}